@page
@model Dz1.Pages.CountryModel
@{
    ViewData["Title"] = "Country";
}

<div>
    <ul>
        <li><a href ="https://en.wikipedia.org/wiki/Ukraine" target="_blank"> Ukraine</a></li>
        <li> <a href="https://en.wikipedia.org/wiki/United_States" target="_blank">USA</a></li>
        <li><a href="https://en.wikipedia.org/wiki/Japan" target="_blank">Japan</a></li>
    </ul>
</div>
