@page
@model Dz1.Pages.RestronModel
@{
    ViewData["Title"] = "Restaurant";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Work time:8:00 - 00:00</p>
    
</div>
<ul>
    <li>Restaurant 1</li>
    <li>Restaurant 2</li>
    <li>Restaurant 3</li>
    <li>Restaurant 4</li>
</ul>
